<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <property name="LOG_FILE" value="target/unitTest.log"/>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>
  <logger level="WARN" name="mmattos.github"/>
  <logger level="WARN" name="org.springframework.core"/>
  <logger level="WARN" name="org.springframework.beans"/>
  <logger level="WARN" name="org.springframework.context"/>
  <logger level="WARN" name="org.springframework.transaction"/>
  <logger level="WARN" name="org.springframework.web"/>
  <logger level="WARN" name="org.springframework.test"/>
  <logger level="WARN" name="org.hibernate"/>
</configuration>